<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="signUpService" class="SignUpService">
        <constructor-arg name="passwordBlackList" ref="passwordBlackListDB"/>
        <constructor-arg name="emailValidator" ref="emailValidator"/>
    </bean>

    <bean id="emailValidator" class="EmailValidatorRegexImpl">
        <property name="regex" value=".+@.+"/>
    </bean>

    <bean id="passwordBlackListDB" class="passwordBlackListDBImpl">
    </bean>

</beans>